@model EarthQuakeListItemViewModel
<div class="card list-group list-group-flush">
    <div class="list-group-item text-white bg-info">@LocationHelper.Locations[Model.Title]</div>
    @foreach (var item in Model.Items)
    {
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            @item.Description
            <span class="badge badge-info">@item.Magnitude</span>
        </div>
    }
</div>
