@import "_variables.scss";

@include media-breakpoint-down(sm) {
    .navbar-nav:first-child {
        margin-top: 15px;
    }
}

.nav-link {
    transition: all .2s;
}

.nav-item {
    transition: background .2s, color .2s;
    padding: 8px 15px 7px;
    white-space: nowrap;
}

.nav-left-menu > .nav-item {
    border: 1px solid transparent;
    border-left: 3px solid transparent;
    border-color: transparent;
}

@include media-breakpoint-up(md) {
    .nav-item {
        border: 1px solid transparent;
        border-bottom: 3px solid transparent;
    }
}

@include media-breakpoint-down(sm) {
    .nav-item {
        padding-top: 0;
        padding-bottom: 0;
        border-left: 5px solid transparent;
    }
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    height: 42px;
}

@include media-breakpoint-down(sm) {
    .navbar-brand {
        padding-top: 5px;
        margin-left: 15px;
    }
}

@include media-breakpoint-down(up) {
    .navbar-brand img {
        height: 53px;
    }
}
