@import "_variables.scss";

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

input[disabled='disabled'] {
    cursor: not-allowed;
    pointer-events: all !important;
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

#map {
    min-height: 40rem;
}
